.email-container {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  align-items: stretch;
  flex-direction: row;

  .form-input {
    display: inline-block;
  }

  .form-hidden {
    position: absolute;
  }

  input {
    display: inline-block;
    padding: 0.25rem;
    font-size: 1rem;
  }
}
