.hero {
  display: inline-block;
  max-height: calc(100vh - 15.88rem);
  max-width: 48rem;
  overflow: scroll;
  padding-bottom: 2rem;

  h1 {
    margin-bottom: 0.5rem;
  }
}

.link {
  font-family: "SuisseBold", Helvetica, sans-serif;
}

.spacer {
  display: block;
  height: 4rem;
  width: auto;
}
