.hero {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;

  .video-holder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    #video-scroll-element {
      height: 100vh;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }
  }
}

p {
  margin: 1rem 0;
}

span {
  display: inline-block;
  height: 0.25rem;
  width: 0.25rem;
}

#set-height {
  display: block;
  height: 13500px;
}

p font-family helvetica {
  font-size: 24px;
}
#time {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 255, 0.5);
}
#scroll {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.5);
}
